node_modules
coverage
dist
.DS_Store
*.log*
*.env*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Monorepo
packages/*/dist
packages/*/node_modules
playground/dist
playground/node_modules
docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules
